{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
    <div class="container full-height">
        <br>
        <h1 class="text-white">Planification de l'intervention</h1>
        <br>

        {{ include('res_intervention/_form.html.twig') }}
    </div>
{% endblock %}

