<form method="post" action="{{ path('res_devis_delete', {'id': res_devi.id}) }}" onsubmit="return confirm('Vous etes sur de vouloir supprimer ce devis?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ res_devi.id) }}">
    <a class="btn btn-lg btn-info" href="{{ path('res_devis_index') }}">Retour aux devis</a>
    <button class="btn btn-lg btn-danger">Supprimer</button>
    <a class="btn btn-lg btn-success" href="{{ path('res_devis_edit', {'id': res_devi.id}) }}">Modifier</a>
</form>

