{% extends 'base.html.twig' %}

{% block title %}Edit ResDemande{% endblock %}

{% block body %}
    <div class="container full-height">
        <br>
        <h1 class="text-white">Modifier la demande</h1>
        <br>

        {{ include('res_demande/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
