{% extends 'base.html.twig' %}

{% block title %}ResEntreprise{% endblock %}

{% block body %}
    <div class="container full-height">
        <br>
        <h1 class="text-white">Détails de la demande</h1>
        <br>
        <table class="table table-dark table-striped">
            <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ res_demande.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ res_demande.description }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ res_demande.entreprise }}</td>
            </tr>
            </tbody>
        </table>

        {{ include('res_demande/_delete_form.html.twig') }}
    </div>
{% endblock %}
