{% extends 'base.html.twig' %}

{% block title %}New ResMateriel{% endblock %}

{% block body %}
    <div class="container full-height">
        <br>
        <h1 class="text-white">Ajout d'un nouveau service</h1>
        <br>

        {{ include('res_service/_form.html.twig') }}
    </div>
{% endblock %}
